<!-- src/app/flight-booking/flight-card/flight-card.component.html -->

<div class="card" [class.active-card]="selected">
  <div class="card-header">
    <h2 class="title">{{ item().from | city: 'short' }} - {{ item().to | city: 'long' }}</h2>
  </div>

  <div class="card-body">
    <p>Flight-No.: #{{ item().id }}</p>
    <p>Date: {{ item().date | date: 'dd.MM.yyyy HH:mm' }}</p>
    <p [ngStyle]="{ color: item().delayed | statusColor }">Delayed: {{ item().delayed }}</p>
    <p>
      <ng-content>Placeholder</ng-content>
    </p>
  </div>
</div>
