<div class="tabbed-pane">
  <div class="navigation">
    @for (tab of tabs; track tab.title) {
      <span class="tab-link">
        <a [class.active]="tab === activeTab" (click)="activate(tab)">{{ tab.title }}</a>
      </span>
    }
  </div>

  <ng-content>No content projected</ng-content>

  <app-tab-navigator
    #navigator
    [page]="currentPage"
    [pageCount]="tabs.length"
    (pageChange)="pageChange($event)">
  </app-tab-navigator>

  <div>
    <button (click)="navigator.prev()">Prev</button>
    {{navigator.page}}
    <button (click)="navigator.next()">Next</button>
  </div>
</div>
